# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM
IndentWidth: 4
# Must be 120 characters or less!
ColumnLimit: 120
# spaces, not tabs!
UseTab: Never
# if (x) doStuff()  is not recommended (but sometimes useful)
AllowShortIfStatementsOnASingleLine: true
# 
AlignTrailingComments: true
SpacesBeforeTrailingComments: 3
#  #define SHORT_NAME       42
#  #define LONGER_NAME      0x007f   # does nice spacing for macros
AlignConsecutiveMacros: Consecutive
# use \n instead of \r\n for win\linux compatibility
UseCRLF: false
AlignConsecutiveAssignments: true

BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom